<!-- Footer -->
    <footer>
    	<div class="row">
    		<div class="col-md-12">
    			<p class="text-center">Footer</p>
    		</div>
    	</div>
    </footer>
</div> <!-- End Main Container -->

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/assets/js/script.js"></script>

  </body>

</html>