
.burger-input-block{
	margin: 50px 0;
}
.to-eat {
	border-right: 2px solid #ccc;
}
.menu-block {
	margin: 30px 0 0 0;
}
.menu-block.devoured {
	text-align: left;
}
.menu-item {
	margin: 15px 0;
}
.burger {
	float: left;
	width: 65%;
}
.burger > button {
	width: 30%;
}
span.burger-id {
	margin:  0 10px 0 0;
}
footer {
	margin: 30px 0 0 0;
	padding: 40px;
}